/node_modules
/client/node_modules
/server/node_modules
.env
/client/.env
/server/.env
.env.local

/client/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/